.Home_Contenedor {
	padding: 20px;
  }
  
  .Home_Header {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
  }
  
  .Home_Perfil,
  .Home_Logout {
	margin-left: 10px;
  }
  
  .Home_Logout {
	background-color: #ff4d4d; /* Color rojo para indicar cerrar sesión */
	color: white;
  }
  
  .Home_Busqueda {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .Home_Post {
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .Home_Post_Header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  }
  
  .Home_Post_Header img {
	border-radius: 50%;
  }
  
  .Home_Post div {
	margin-bottom: 10px;
  }
  
  