/* src/styles/Register.css */
.Register_Contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C5CAE9;
}

.Register_Formulario {
    background-color: white;
    padding: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4%;
    width: 100%;
    max-width: 400px; /* Limita el ancho del formulario */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.Register_Formulario h2 {
    margin-bottom: 20px;
    color: #1A237E;
}

.Register_Boton {
    margin-top: 20px;
    text-align: center; /* Centra el botón */
}

.Alerta {
    width: 100%;
    margin-top: 20px;
    text-align: center; /* Centra la alerta */
}
